.pokemon {
    margin-bottom: 0px;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: 1s all;
}

.pokeball {
    width: 40px;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transition: 1s all;
}

.backgroud-pokemon {
    width: 110px;
    height: 120px;
    margin-left: 65px;
    position: absolute;
    transition: .1s all;
}

.battle-backs {
    width: 250px;
    margin-top: 50px;
}

.pokemon-contant {
    position: absolute;
}

.effect-background {
    width: 250px;
    z-index: 1000;
    position: absolute;
}

.effect-background .shiny-first {
    width: 200px;
    height: 150px;
    z-index: 1000;
    position: absolute;
}

.effect-background .shiny-second {
    width: 200px;
    height: 150px;
    z-index: 1000;
    position: absolute;
}

.attack {
    width: 200px;
    height: 150px;
    z-index: 1001;
}

.attack img {
    width: 100px;
}

.blood-bar {
    margin-top: 5px;
    width: 200px;
    height: 150px;
    z-index: 1002;
}

.dame {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: red;
    font-weight: bold;
    -webkit-animation-name: dame-animation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.25s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s;
    /* Safari 4.0 - 8.0 */
    animation-name: dame-animation;
    animation-duration: 0.25s;
    animation-delay: -0s;
}

.animation-attack {
    -webkit-animation-name: animation-attack-animation;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.25s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s;
    /* Safari 4.0 - 8.0 */
    animation-name: animation-attack-animation;
    animation-duration: 0.25s;
    animation-delay: -0s;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes animation-attack-animation {
    0% {
        padding-left: 15px;
        padding-right: 0px;
    }
    25% {
        padding-left: 0px;
        padding-right: 15px;
    }
    50% {
        padding-left: 15px;
        padding-right: 0px;
    }
    75% {
        padding-left: 0px;
        padding-right: 15px;
    }
    100% {
        padding-left: 15px;
        padding-right: 0px;
    }
}


/* Standard syntax */

@keyframes animation-attack-animation {
    0% {
        padding-left: 15px;
        padding-right: 0px;
    }
    25% {
        padding-left: 0px;
        padding-right: 15px;
    }
    50% {
        padding-left: 15px;
        padding-right: 0px;
    }
    75% {
        padding-left: 0px;
        padding-right: 15px;
    }
    100% {
        padding-left: 15px;
        padding-right: 0px;
    }
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes dame-animation {
    0% {
        padding-left: 0px;
        padding-right: 10px;
    }
    25% {
        padding-left: 10px;
        padding-right: 0px;
    }
    50% {
        padding-left: 0px;
        padding-right: 10px;
    }
    75% {
        padding-left: 10px;
        padding-right: 0px;
    }
    100% {
        padding-left: 0px;
        padding-right: 10px;
    }
}


/* Standard syntax */

@keyframes dame-animation {
    0% {
        padding-left: 0px;
        padding-right: 10px;
    }
    25% {
        padding-left: 10px;
        padding-right: 0px;
    }
    50% {
        padding-left: 0px;
        padding-right: 10px;
    }
    75% {
        padding-left: 10px;
        padding-right: 0px;
    }
    100% {
        padding-left: 0px;
        padding-right: 10px;
    }
}
